/* PHASE 3: Layout */
.content {
  width: 900px; 
  display: flex; 
  flex-direction: row; 
  min-height: 200px; 
  background-color: white;
  margin: 0 auto;
  border: 1px solid #D2D2D2; 
}

.content-sidebar {
  width: 33.33%; 
  border-right: 1px solid #D2D2D2; 
}

.content-main {
  width: 66.66%;
  
}